:root {
  --color-white: #ffffff;
  --color-white-dirty: #f9f9f9;
  --color-black: #000000;
  --color-black-light: #333333;
  --color-gray: #cccccc;
  --color-gray-light: #eeeeee;
  --color-gray-dark: #999999;
  --color-yellow-pale: #FFF2AF;
  --font-size-base: 16px;
  --font-size-sm: .75rem;
  --font-size-md: .9rem;
  --font-size-lg: 1.5rem;
  --gutter-base: 1rem;
  --gutter-xs: calc(var(--gutter-base) * .25);
  --gutter-sm: calc(var(--gutter-base) * .5);
  --gutter-md: calc(var(--gutter-base) * .75);
  --gutter-lg: calc(var(--gutter-base) * 2);
  --gutter-xl: calc(var(--gutter-base) * 4); }

*,
*::before,
*::after {
  box-sizing: inherit; }

* {
  margin: 0; }
  * + * {
    margin-top: var(--gutter-base); }

html {
  box-sizing: border-box;
  font-size: var(--font-size-base); }

body {
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-display: fallback;
  line-height: 1.6;
  background-color: var(--color-white-dirty); }

h1, h2, h3, h4, h5, h6 {
  color: var(--color-black-light);
  font-family: 'Playfair Display', serif; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    padding: 0 var(--gutter-sm);
    color: var(--color-black); }

h1 {
  font-size: calc(2rem + 3vw); }
  @media (min-width: 800px) {
    h1 {
      font-size: calc( 1rem + ( 800px *  ( 3 / 100 ) )); } }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

p {
  font-size: 1.125rem; }

a {
  position: relative;
  text-decoration: none;
  background-image: linear-gradient(var(--color-yellow-pale), var(--color-yellow-pale));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 30%;
  transition: all .3s ease-in-out; }
  a:hover {
    color: var(--color-black);
    background-size: 100% 100%; }

code:not([class*="language-"]) {
  padding: 0 var(--gutter-xs);
  color: var(--color-gray-dark);
  background-color: var(--color-gray-light);
  border: 1px solid var(--color-gray); }

img {
  width: 100%;
  max-width: 100%; }

/*
 * @name Components
 */
.rf-c-site-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-md); }
  @media (min-width: 800px) {
    .rf-c-site-nav {
      justify-content: flex-start; } }
  .rf-c-site-nav a:not(.rf-c-site-logo) {
    margin: 0 var(--gutter-md);
    padding: 0 var(--gutter-xs);
    color: var(--color-black);
    background-size: 100% 50%;
    text-transform: uppercase; }
    .rf-c-site-nav a:not(.rf-c-site-logo):hover, .rf-c-site-nav a:not(.rf-c-site-logo).rf-is-active {
      background-size: 100% 100%; }
    .rf-c-site-nav a:not(.rf-c-site-logo)::before {
      display: inline-block;
      content: "#"; }

.rf-c-site-logo {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: var(--gutter-lg); }
  @media (min-width: 800px) {
    .rf-c-site-logo {
      display: block;
      width: auto; } }
  .rf-c-site-logo.rf-c-site-logo {
    background-image: none; }
    .rf-c-site-logo.rf-c-site-logo::before {
      display: none; }

.rf-c-logo-img {
  display: block;
  width: 5rem;
  transform: rotate(-11deg);
  transition: all .3s ease-in-out; }
  .rf-c-logo-img:hover {
    transform: rotate(0); }

.rf-c-article {
  display: grid;
  grid-template-columns: var(--gutter-base) 1fr var(--gutter-base); }
  @media (min-width: 800px) {
    .rf-c-article {
      grid-template-columns: auto 40em auto; } }
  .rf-c-article > section,
  .rf-c-article > div,
  .rf-c-article > h1,
  .rf-c-article > h2,
  .rf-c-article > h3,
  .rf-c-article > h4,
  .rf-c-article > h5,
  .rf-c-article > h6,
  .rf-c-article > p,
  .rf-c-article > ul,
  .rf-c-article > ol,
  .rf-c-article > pre,
  .rf-c-article > img {
    grid-column: 2/3; }

.rf-c-page-header {
  position: relative;
  margin: var(--gutter-lg) var(--gutter-base) var(--gutter-xl) var(--gutter-base);
  grid-column: 1/-1;
  padding-bottom: var(--gutter-xl);
  text-align: center; }
  @media (min-width: 800px) {
    .rf-c-page-header {
      max-width: 60vw;
      margin-right: auto;
      margin-left: auto; } }
  .rf-c-page-header::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 30vw;
    border-bottom: 1px solid #ccc;
    content: ''; }
  .rf-c-page-header .rf-c-post__desc {
    font-size: var(--font-size-lg); }

@media (min-width: 800px) {
  .rf-c-page-title {
    font-size: calc( 1.5rem + ( 800px *  ( 3 / 100 ) )); } }

.rf-c-posts {
  padding: 0;
  list-style-type: none; }
  .rf-c-posts > li {
    margin-bottom: var(--gutter-lg); }
  .rf-c-posts h1 {
    margin-bottom: 0; }
    .rf-c-posts h1 + p {
      margin-top: 0; }

.rf-c-post__meta {
  color: var(--color-gray); }

.rf-c-post__desc {
  color: var(--color-black-light); }

.rf-c-site-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: var(--gutter-xl);
  padding: var(--gutter-base);
  color: #999; }
  @media (min-width: 800px) {
    .rf-c-site-footer {
      padding: var(--gutter-xl) var(--gutter-base); } }
  .rf-c-site-footer::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 30vw;
    border-bottom: 1px solid #ccc;
    content: ''; }
  .rf-c-site-footer p {
    text-align: center; }
    @media (min-width: 800px) {
      .rf-c-site-footer p {
        font-size: var(--font-size-md); } }
  .rf-c-site-footer a {
    padding: 0 var(--gutter-xs);
    color: var(--color-black-light); }

.rf-c-profile-pic {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: tomato;
  border-radius: 50%; }
  @media (min-width: 800px) {
    .rf-c-profile-pic.rf-c-profile-pic {
      width: 20rem; } }

/*
 * @name Vendors
 */
code[class*="language-"],
pre[class*="language-"] {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #272822;
  color: #f8f8f2; }

pre[class*="language-"] {
  padding: var(--gutter-base);
  overflow: auto; }

:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

pre > code.highlight {
  outline: 0.4em solid #f92672;
  outline-offset: .4em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #75715e; }

.token.punctuation {
  color: #f8f8f2; }

.token.namespace {
  opacity: .7; }

.token.operator,
.token.boolean,
.token.number {
  color: #fd971f; }

.token.property {
  color: #f4bf75; }

.token.tag {
  color: #66d9ef; }

.token.string {
  color: #a1efe4; }

.token.selector {
  color: #ae81ff; }

.token.attr-name {
  color: #fd971f; }

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a1efe4; }

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #a6e22e; }

.token.statement,
.token.regex,
.token.atrule {
  color: #a1efe4; }

.token.placeholder,
.token.variable {
  color: #66d9ef; }

.token.deleted {
  text-decoration: line-through; }

.token.inserted {
  border-bottom: 1px dotted #f9f8f5;
  text-decoration: none; }

.token.italic {
  font-style: italic; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.important {
  color: #f92672; }

.token.entity {
  cursor: help; }

/*
 * @name Utilities
 */
.rf-u-container {
  margin-right: var(--gutter-base);
  margin-left: var(--gutter-base); }
  @media (min-width: 800px) {
    .rf-u-container {
      max-width: 40em;
      margin-right: auto;
      margin-left: auto; } }

.rf-u-container--full {
  position: relative;
  left: 50%;
  right: 50%;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw; }

.rf-u-text--disabled {
  color: #ccc; }

@media (min-width: 800px) {
  .rf-u-float--left {
    float: left;
    margin-right: var(--gutter-base);
    margin-bottom: var(--gutter-base); } }

@media (min-width: 800px) {
  .rf-u-float--right {
    float: right;
    margin-left: var(--gutter-base);
    margin-bottom: var(--gutter-base); } }

/*# sourceMappingURL=styles.css.map */