*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;

  + * {
    margin-top: var(--gutter-base);
  }
}

html {
  box-sizing: border-box;
  font-size: var(--font-size-base);
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-display: fallback;
  line-height: 1.6;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-black-light);
  font-family: 'Playfair Display', serif;

  a {
    padding: 0 var(--gutter-sm);
    color: var(--text-color);
  }
}

h1 {
  font-size: calc(2rem + 3vw);

  @media (min-width: 800px) {
    font-size: calc(1rem + (800px * (3 / 100)));
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1.125rem;
}

a {
  position: relative;
  text-decoration: none;
  background-image: linear-gradient(
    var(--color-yellow-pale),
    var(--color-yellow-pale)
  );
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 30%;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--text-color);
    background-size: 100% 100%;
  }
}

code {
  &:not([class*='language-']) {
    padding: 0 var(--gutter-xs);
    color: var(--color-gray-dark);
    background-color: var(--color-gray-light);
    border: 1px solid var(--color-gray);
  }
}

img {
  width: 100%;
  max-width: 100%;
}

blockquote {
  padding: var(--gutter-md) var(--gutter-lg);
  color: var(--color-gray-dark);
  font-style: italic;
  font-size: var(--font-size-lg);
  border-left: 0.5rem solid var(--color-gray-light);

  > p {
    color: var(--color-gray-dark);
    font-size: var(--font-size-lg);
  }
}
