.u-container {
  margin-right: var(--gutter-base);
  margin-left: var(--gutter-base);

  @media (min-width: 800px) {
    max-width: 40em;
    margin-right: auto;
    margin-left: auto;
  }
}

.u-container--full {
  position: relative;
  left: 50%;
  right: 50%;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
}

.rf-u-text--disabled {
  color: #ccc;
}

.rf-u-float--left {
  @media (min-width: 800px) {
    float: left;
    margin-right: var(--gutter-base);
    margin-bottom: var(--gutter-base);
  }
}

.rf-u-float--right {
  @media (min-width: 800px) {
    float: right;
    margin-left: var(--gutter-base);
    margin-bottom: var(--gutter-base);
  }
}

.u-hidden {
  display: none;
}
