.u-container {
  margin-inline-end: var(--gutter-base);
  margin-inline-start: var(--gutter-base);
  margin-block-start: 0;

  @media (min-width: 800px) {
    max-width: 40em;
    margin-inline-end: auto;
    margin-inline-start: auto;
  }
}

.u-container--full {
  position: relative;
  left: 50%;
  right: 50%;
  width: 100vw;
  margin-inline-start: -50vw;
  margin-inline-end: -50vw;
}

.u-text--disabled {
  color: #ccc;
}

.u-float--left {
  @media (min-width: 800px) {
    float: left;
    margin-inline-end: var(--gutter-base);
    margin-bottom: var(--gutter-base);
  }
}

.u-float--right {
  @media (min-width: 800px) {
    float: right;
    margin-inline-start: var(--gutter-base);
    margin-bottom: var(--gutter-base);
  }
}

.u-hidden {
  display: none;
}
