:root {
  --color-white: #ffffff;
  --color-white-dirty: #f9f9f9;
  --color-black: #000000;
  --color-black-light: #333333;
  --color-gray: #cccccc;
  --color-gray-light: #eeeeee;
  --color-gray-dark: #999999;
  --color-yellow-pale: #fff2af;

  --background-color: var(--color-white-dirty);
  --text-color: var(--color-black);

  --font-size-base: 18px;
  --font-size-sm: 0.75rem;
  --font-size-md: 0.9rem;
  --font-size-nm: 1rem;
  --font-size-lg: 1.5rem;

  --gutter-base: 1rem;
  --gutter-xs: calc(var(--gutter-base) * 0.25);
  --gutter-sm: calc(var(--gutter-base) * 0.5);
  --gutter-md: calc(var(--gutter-base) * 0.75);
  --gutter-lg: calc(var(--gutter-base) * 2);
  --gutter-xl: calc(var(--gutter-base) * 4);
}
