@import './variables';
@import './base';
@import './components/icons';
@import './layout';
@import './utils';
@import './vendors';

/*
 * @name Components
 */

.c-site-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-block-start: 0;
  font-size: var(--font-size-md);

  @media (min-width: 800px) {
    justify-content: flex-start;
  }

  a {
    margin: 0 var(--gutter-sm);
    padding: 0 var(--gutter-xs);
    color: var(--text-color);
    background-size: 100% 50%;
    text-transform: uppercase;

    &:hover,
    &.is-active {
      background-size: 100% 100%;
    }

    .c-icon {
      width: var(--font-size-md);
      height: var(--font-size-md);
    }
  }
}

.c-site-logo {
  display: flex;
  justify-content: center;
  width: 100%;

  @media (min-width: 800px) {
    display: block;
    width: auto;
  }

  &.c-site-logo {
    background-image: none;

    &::before {
      display: none;
    }
  }
}

.c-logo-img {
  display: block;
  width: 5rem;
  transform: rotate(-11deg);
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: rotate(0);
  }
}

.c-article {
  display: grid;
  grid-template-columns: var(--gutter-base) 1fr var(--gutter-base);

  @media (min-width: 800px) {
    grid-template-columns: 1fr 1fr 40em 1fr 1fr;
  }

  > section,
  > div,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > p,
  > ul,
  > ol,
  > pre,
  > blockquote,
  > img {
    grid-column: 2/3;

    @media (min-width: 800px) {
      grid-column: 3/4;
    }
  }
}

.c-page-header {
  position: relative;
  margin: var(--gutter-lg) var(--gutter-base) var(--gutter-xl)
    var(--gutter-base);
  grid-column: 1/-1;
  padding-bottom: var(--gutter-xl);
  text-align: center;

  @media (min-width: 800px) {
    max-width: 60vw;
    margin-right: auto;
    margin-left: auto;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 30vw;
    border-bottom: 1px solid #ccc;
    content: '';
  }

  .c-post__desc {
    font-size: var(--font-size-lg);
  }
}

.c-page-title {
  @media (min-width: 800px) {
    font-size: calc(1.5rem + (800px * (3 / 100)));
  }
}

.c-posts {
  padding: 0;
  list-style-type: none;

  > li {
    margin-bottom: var(--gutter-lg);
  }

  h1 {
    margin-bottom: 0;

    + p {
      margin-top: 0;
    }
  }
}

.c-post__meta {
  color: var(--color-gray);
}

.c-post__desc {
  color: var(--color-black-light);
}

.rf-c-profile-pic {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: tomato;
  border-radius: 50%;

  &.rf-c-profile-pic {
    @media (min-width: 800px) {
      width: 20rem;
    }
  }
}
