<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {{ renderData.title or title or metadata.title }} - {{ metadata.tagline }}
    </title>
    <meta
      name="Description"
      content="{{ renderData.description or description or metadata.description }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ '/assets/styles/main.css' | url }}"
    />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Source+Sans+Pro:400,700"
      as="font"
    />
    <link
      rel="alternate"
      href="{{ metadata.feed.path | url }}"
      type="application/atom+xml"
      title="{{ metadata.title }} - {{ metadata.tagline }}"
    />
    <link rel="shortcut icon" href="./favicon.ico" />
  </head>
  <body class="l-page {% if templateClass %}{{ templateClass }}{% endif %}">
    <div class="u-hidden">
      {% include '../partials/sprite.svg' %}
    </div>

    {% include '../partials/header.njk' %}

    {{ content | safe }}

    {% include '../partials/footer.njk' %}
  </body>
</html>
