---
layout: layouts/base.njk
templateClass: l-home
---

<header class="c-page-header">
  <h1 class="c-page-title">
    Hey there 👋 I am Zoran, explorer of
    <a href="{{ metadata.url }}work" title="Experiments with user interfaces"
      >user interfaces</a
    >, composer of styles.
  </h1>
  <p class="c-post__desc">
    I am front-end developer at
    <a href="https://vivifyideas.com" title="VivifyIdeas">VivifyIdeas</a>,
    teacher at
    <a href="https://academy.vivifyideas.com" title="VivifyAcademy"
      >VivifyAcademy</a
    >, occasional wrangler of
    <a href="{{ metadata.url }}articles" title="Some of the words I've written"
      >words</a
    >
    and remote worker.
  </p>
</header>

<main class="u-container">
  {{ content | safe }}
</main>
