---
layout: layouts/base.njk
---

<article class="c-article">
  <header class="c-page-header">
    <h1 class="c-page-title">
      {{ title }}
    </h1>
  </header>

  {{ content | safe }}
</article>
