---
layout: layouts/base.njk
---
<header class="rf-c-page-header">
    <h1 class="rf-c-page-title">
        {{ title }}
    </h1>
</header>

<main class="rf-u-container">
    {{ content | safe }}
</main>
