---
layout: layouts/base.njk
templateClass: rf-c-page
---
<article class="rf-c-article">
    <header class="rf-c-page-header">
        <h1 class="rf-c-page-title">
            {{ title }}
        </h1>
    </header>

    {{ content | safe }}
</article>
