---
layout: layouts/base.njk
templateClass: rf-c-page rf-c-post
---
<article class="rf-c-article rf-u-container">
    <header class="rf-c-page-header">
        <h1 class="rf-c-page-title">
            {{ title }}
        </h1>

        <p class="rf-c-post__desc">
            {{ description }}
        </p>

        <p class="rf-c-post__meta">
            <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
        </p>
    </header>

    {{ content | safe }}
</article>
