<footer class="l-site-footer">
  <p>
    Forged in 🍺 by Zoran Zlokapa.

    {%- for nav in collections.nav | reverse -%}
      <a href="{{ nav.url | url }}" {% if nav.url == page.url %} class="is-active"{% endif %}>
        {{ nav.data.navtitle }}
      </a>, 
    {%- endfor -%}

    <a href="{{ metadata.feed.url }}" class="c-feed-link">
      <svg class="c-icon" xmlns="http://www.w3.org/2000/svg">
        <use href="#rss"/>
      </svg>
    </a>
  </p>

  <p>
    Also, you can find me on
    <a href="{{ metadata.social.github }}">
      GitHub
    </a>, 
    <a href="{{ metadata.social.twitter }}">
      Twitter
    </a> or 
    <a href="{{ metadata.social.linkedin }}">
      LinkedIn
    </a>
  </p>
</footer>
