<header class="l-site-header">
  <a href="{{ '/' | url }}" class="c-site-logo" title="{{ renderData.title or title or metadata.title }}">
    <svg class="c-logo-img" xmlns="http://www.w3.org/2000/svg">
      <use href="#refreshd"/>
    </svg>
  </a>

  <nav class="c-site-nav">
    {%- for nav in collections.nav | reverse -%}
      <a href="{{ nav.url | url }}" title="{{ nav.data.navtitle }}" {% if nav.url == page.url %} class="is-active"{% endif %}>{{ nav.data.navtitle }}</a>
    {%- endfor -%}
  </nav>
</header>
